= simple_form_for(@meme) do |f|
  = f.input :image, :as => :file
  = f.input :top_text, :as => :text
  = f.input :bottom_text, :as => :text
  = f.button :submit, "Create Mememble"

-# %h1 All Memes
-#
-# %ul
-#   - @memes.each do |meme|
-#     %a{:href => meme_path(meme.id)}
-#       .meme
-#         = meme.top_text
-#         = meme.bottom_text
