%h1 Your Profile
= image_tag @user.gravatar_url
%h3= @user.username
%h4= @user.email

%h1 Your squmbls:
%ul.post
  - @user.posts.each do |post|
    .post
      You squmbd:
      = post.content
      = post.created_at
-if current_user
  -if (current_user == @user)
    %h4 This is your profile
  -else 
    = link_to "Follow this user", user_follows_path(@user), method: :post
