%h1.sister Your Profile
= image_tag @user.gravatar_url
%h3.sister= @user.username
%h4.sister= @user.email

- if current_user == @user
  - @user.posts.drafts.all.each do |post|
    .draft.sister Drafts
    .sister= post.user.username
    .sister squmbd:
    .sister= post.content
    .sister= post.created_at
    .sister= link_to "edit squmbl", edit_post_path(post.id)
