%h1 Your Profile
= image_tag @user.gravatar_url
%h3= @user.username
%h4= @user.email

- if current_user.id == @user.id
  Drafts
  - @user.posts.drafts.all.each do |post|
    .draft
    = post.user.username
    squmbd:
    = post.content
    = post.created_at
    = link_to "edit squmbl", edit_post_path(post.id)
