= simple_form_for(@post) do |f|
  .sister= f.input :content, :as => :text
  .sister= f.input :image, :as => :file
  .sister.btn.btn-primary= f.button :submit, "create squmbl"
  .sister.btn.btn-primary= f.button :submit, "save as draft"
