%h1.sister These are your squmbls:
%ul.post
  - @posts.each do |post|
    .post
      .sister= post.user.username
      squmbd:
      = post.content
      .sister= post.created_at
      = image_tag post.image_url(:thumb).to_s
      = render partial: "shared/index_buttons", :locals => { :post => post }
- if user_signed_in?
  .sister= link_to 'new squmbl', new_post_path
