%h1 These are your squmbls:
%ul.post
  - @posts.each do |post|
    .post
      = post.user.username
      squmbd:
      = post.content
      = post.created_at
- if user_signed_in?
  = link_to 'new squmbl', new_post_path
  - unless @follows.empty?
    %h2 You are following these people:
    %ul.follow
      - @follows.each do |follow|
        .follow
          = follow.username
    %h2 They have squmbd:
    %ul.followed_post
      - @follow_posts.each do |follow_post|
        .followed_post
          = follow_post.user.username
          squmbd:
          = follow_post.content
          = follow_post.created_at
