%h1 These are your squmbls:
%ul.post
  - @posts.each do |post|
    .post
      = post.user.username
      squmbd:
      = post.content
      = post.created_at
      = image_tag post.image_url(:thumb).to_s
- if user_signed_in?
  = link_to 'new squmbl', new_post_path
