%h4 Squmble:
.post
  = @post.user.username
  squmbd:
  = @post.content
  = @post.created_at

  %h4 Comments:
  %ul#comment_show
    = render @post.comments

  = simple_form_for(Comment.new, url: post_comments_path(@post)) do |f|
    = f.input :comment, as: :text
    = f.hidden_field :user_id, :value => current_user.id
    = f.button :submit, "Comment"
