%h4 Squmble:
=@post.content
%p

%h4 Comments:
%ul#comment_show
  = render @post.comments

=link_to "<<Back", posts_path
%p
= simple_form_for(Comment.new, url: post_comments_path(@post)) do |f| 
  = f.input :comment, as: :text
  = f.hidden_field :user_id, :value => current_user.id
  %p
  = f.button :submit, "Comment"
  %p