!!!
%html
  %head
    %title Squmblr
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header
      %ul.devise_navigation
        - if user_signed_in?
          %li= link_to 'Sign out', destroy_user_session_path, method: 'delete'
        - else
          %li= link_to 'Sign in', new_user_session_path
      %ul.main_navigation
        %li= link_to "squmbls", posts_path
        - if user_signed_in?
          %li= link_to "write a squmbl", new_post_path
      .addthis_toolbox.addthis_default_style.addthis_32x32_style
        %a.addthis_button_facebook
        %a.addthis_button_twitter
        %a.addthis_button_tumblr
        %a.addthis_button_pinterest_share
        %a.addthis_button_compact
        %script{src: "//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-538759146c05abe0", type: "text/javascript"}
    .alert= alert
    .notice= notice
    = yield
